.uv-carousel-embla {
  overflow: hidden;
}
.uv-carousel-embla__container {
  display: flex;
}
.uv-carousel-embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.uv-carousel-embla[data-orientation='vertical'] {
  height: 100px;
}
.uv-carousel-embla[data-orientation='vertical'] .uv-carousel-embla__container {
  flex-direction: column;
  height: 100%;
}
.uv-carousel-embla[data-orientation='vertical'] .uv-carousel-embla__slide {
  flex: 0 0 100%;
  min-height: 0;
  height: 100%;
}
